[Desktop Entry]
Name=Laralux
Comment=Local web-development environment manager
Exec=laralux-desktop
Icon=com.laralux
Terminal=false
Type=Application
StartupWMClass=laralux-desktop
Categories=Development;WebDevelopment;
