[Desktop Entry]
Name=Laralux
Comment=Local web-development environment manager
Exec=laralux
Icon=com.laralux.linux
Terminal=false
Type=Application
StartupWMClass=laralux
Categories=Development;WebDevelopment;
